@media screen and (min-width: 1200px) {
    .container {
      width: 1158px;
    }
    .section-employees {
      padding-top: 120px;
      padding-bottom: 120px;
    }
    .section-employees> .container{
        width: 1158px;
      }
    .team-cards {
      display: flex;
      flex-wrap: nowrap;
      gap: 24px;
    }
    .team-item {
      width: 100%;
      /* width: calc((100% - 30px) / 4); */
    }
    .section-customers{
      
      padding-top: 120px;
      padding-bottom: 120px;
    }
    .section-customers> .container{
        width: 1158px;
    }
    .customers-item{
      width: calc((100% - 120px) / 6);
    }
  }
  